.placeholder {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.placeholder__fa {
    font-size: 3rem;
    padding: 2rem;
    border-radius: 50%;
    animation: 12s ease-in-out infinite loading;
}

@keyframes loading {
    0% {
        border: none;
    }
    25% {
        border-right: 3px solid var(--light-green);
    }
    50% {
        border-right: 3px solid var(--light-green);
        border-bottom: 3px solid var(--light-green);
    }
    75% {
        border-right: 3px solid var(--light-green);
        border-bottom: 3px solid var(--light-green);
        border-left: 3px solid var(--light-green);
    }
    100% {
        border-right: 3px solid var(--light-green);
        border-bottom: 3px solid var(--light-green);
        border-left: 3px solid var(--light-green);
        border-top: 3px solid var(--light-green);
    }

}