:root {
    --brown: #AA8B56;
    --light-brown: #CCBA9A;
    --font-color: #395144;
    --light-green: #4E6C50;
    --strong-green: #052809;
    --background-color: #F0EBCE;
}

/* linear-gradient(to right, #fffdee, */