:root {
    --font-color: #5b5b58;
    --font-color-secundary: #D18911;
    --light-font-color: #164773;
    --strong-font-color: #1F3B68;
    --light-background: #34495E;
    --background-color: rgb(212, 212, 212);
}


/*  #D18911 LARANJA 
    #54432C MARROM
    #888E8C CINZA CLARO
*/